.container{
    text-align: center;
}

.page-header{
    
    margin-top: 0%;
    
}

.navbar-fixed-bottom{
    text-align: center;
    background-color:#47534e;
    color:#ef090c;
}

.dashboard-links > a {
    padding: 0 50px;
    letter-spacing: .1rem;
    text-decoration: none;
}

.dashboard-overview {
    text-align: center;
}

.bannerlogo {
    position:   absolute;
    max-height: 100%;
    max-width:  100%;
    
}
