.container{
    text-align: center;
}
.navbar-fixed-bottom{
    text-align: center;
    background-color:#47534e;
    color:#ef090c;
}

.dashboard-links > a {
    padding: 0 50px;
    letter-spacing: .1rem;
    text-decoration: none;
}

.dashboard-overview {
    text-align: center;
}